In [1]:
import numpy as np
import pandas as pd

In [2]:
doctor = np.array(["a", "b", "c", "a", "d", "f", "g", "d"])
patient = np.array(["A", "B", "C", "D", "E", "F", "G", "H"])
fee = np.array([200, 4000, 475, 900, 3500, 600, 1000, 1500])

df1 = pd.DataFrame({"doctor":doctor, "patient":patient, "fees":fee})
df1

  doctor patient  fees
0      a       A   200
1      b       B  4000
2      c       C   475
3      a       D   900
4      d       E  3500
5      f       F   600
6      g       G  1000
7      d       H  1500

In [3]:
doctor = np.array(["a", "b", "c", "d", "f", "g"])
hospital = np.array(["Jpmc", "Navi", "Sony", "Sms", "Navi", "Jpmc"])
df2 = pd.DataFrame({"doctor":doctor, "hospital":hospital})
df2

  doctor hospital
0      a     Jpmc
1      b     Navi
2      c     Sony
3      d      Sms
4      f     Navi
5      g     Jpmc

In [4]:
df = pd.merge(df1, df2, on="doctor", how="left")
df

  doctor patient  fees hospital
0      a       A   200     Jpmc
1      b       B  4000     Navi
2      c       C   475     Sony
3      a       D   900     Jpmc
4      d       E  3500      Sms
5      f       F   600     Navi
6      g       G  1000     Jpmc
7      d       H  1500      Sms

In [6]:
df.groupby("hospital")['fees'].sum()

hospital
Jpmc    2100
Navi    4600
Sms     5000
Sony     475
Name: fees, dtype: int32